{% extends 'base.html.twig' %}

{% block title %}Action{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('action-action') }}
{% endblock %}
{% block body %}

    <div id="php_data_to_js">
        <input id="house_id" value="{{house.id}}" hidden></input>

    </div>
    <h1>Action</h1>

    <div>
        <label>
            House's amount: <input readonly id="house_amount_value" value="{{house.amount}}"></input>
        </label>
        <label>
            Amount to commit: 
            <input id="amount_to_commit" value="0"></input>
            <button id="add-amount-to-house-button" data-href="{{ path('add')}}"   type="button" class="btn  button-green glyphicon-plus"><div id="new-amount-add-display"></div></button>
            <button id="substract-amount-to-house-button" data-href="{{ path('substract')}}"  type="button" class="btn  button-red  glyphicon-minus"><div id="new-amount-substract-display"></div></button>
        </label>

    </div>    
    <table class="table">
        <thead>
            <tr align="center">
                <th>Pig</th>
                
                <th>Amount</th>
                <th>Date</th>
              
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="action-historic">
            {% for action in actions %}
                <tr align="center">
                    <td >{{ action.pig.pseudoName }}</td>
                   
                    <td class="{{ action.colorClass }}">{{ action.amount }}</td>
                    <td  >{{ action.date ? action.date|date('Y-m-d H:i:s') : '' }}</td>
                 
                    <td  >
                        <a href="{{ path('action_show', {'id': action.id}) }}">show</a>
                        <a href="{{ path('action_edit', {'id': action.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('action_new') }}">Create new</a>
{% endblock %}
