{% extends 'base.html.twig' %}

{% block title %}House index{% endblock %}

{% block body %}
    <h1>House index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>MaxPigs</th>
                <th>Amount</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for house in houses %}
            <tr>
                <td>{{ house.id }}</td>
                <td>{{ house.pig.id }}</td>
                <td>{{ house.maxPigs }}</td>
                <td>{{ house.amount }}</td>
                <td>{{ house.password }}</td>
                <td>
                    <a href="{{ path('action_index', {'houseId': house.id}) }}">show</a>
                    <a href="{{ path('house_edit', {'id': house.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('house_new') }}">Create new</a>
{% endblock %}
