<nav class="navbar navbar-expand-lg navbar-dark main-theme-color mb-5">
    <a class="navbar-brand" href="{{ path('action_index')}}">Pig House</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse offset-md-3 col-md-6 col-xs" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            


            {% if app.user %}
                
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('action_index')}}">My House</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('security_edit',{id:app.user.id})}}">My account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('security_logout')}}">Logout</a>
                </li>
            {% else %}    
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('security_login')}}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('security_subscribe')}}">Subscribe</a>
                </li>
            {% endif%}
        </ul>
    </div>
</nav>

